.projects {
  margin-top: 150px;
}

.projects-title {
  font-size: 42px;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 85%;
  border-radius: 15px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
  position: relative;
}

.project-screenshot {
  width: 100%;
  border-radius: 15px;
}

.project-wrapper-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8e8d8a;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.8s ease;
  position: absolute; /* add position absolute to the background */
  top: 0; /* set the top to 0 so it appears over the image */
  left: 0; /* set the left to 0 so it appears over the image */
  z-index: 1; /* set a higher z-index than the image */
}

.project-wrapper-bg:hover {
  opacity: 1;
}

.project-title,
.project-languages,
.project-desc {
  opacity: 1;
  color: white;
}

.project-title {
  font-size: 42px;
  margin: 5px 0;
}

.project-languages {
  font-size: 22px;
  margin: 15px 0;
}

.project-desc {
  font-size: 18px;
  margin: 15px 0;
  width: 60%;
}

.project-icon {
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

@media (max-width: 900px) {
  .project-desc {
    display: none;
  }
}

@media (max-width: 550px) {
  .project-title {
    font-size: 32px;
    margin: 0;
  }

  .project-languages {
    font-size: 18px;
    margin: 0;
  }

  .project-icon {
    padding: 5px;
    margin: 5px 10px 5px;
  }

  .footer {
    margin-top: 100px;
  }
}
